  
    <h2>Admin log in</h2>

    <form action="/admin" method="post">
        <input type="email" name="email" placeholder="Your email">
        <br><br>
        <input type="password" name="password" placeholder="Your password">
        <br><br>
        <input type="submit">
    </form>
    <p style="color: green;">{{message}}</p>

