  
    <h2>Log in</h2>

    <form action="/login" method="post">
        <input type="text" name="name" placeholder="Your full name">
        <br><br>
        <input type="password" name="password" placeholder="Your password">
        <br><br>
        <input type="submit">
    </form>
    <p style="color: green;">{{message}}</p>
    <a id="signup" href="/signup">Make a new account</a>
