<div class="search-form">
    <form method="post">
    <div class="row mb-3">
        <label for="mail-input">Email</label>
        <div class="col-sm-10">
        <input type="email" class="form-control" name="q" id="inputEmail3" placeholder="abcdef@gmail.com">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
</div>