 <h2>Sign up</h2>

<form action="/signup" method="post">
    <input type="text" name="name" placeholder="Your full name">
        <br><br>
        <input type="email" name="email" placeholder="Your email">
        <br><br>
        <input type="password" name="password" placeholder="Your password">
        <br><br>
        <input type="password" name="passwordCheck" placeholder="Your re-password">
        <br><br>
    <input type="submit">
</form>
<p style="color: green;">{{message}}</p>