{{!-- <footer class="footer">
    <div class="grid">
      <div class="grid__row">
        <div class="grid__column-6">
          <h3 class="footer__heading">
            Thư viện Trường Đại học Bách Khoa Tp.Hồ Chí Minh
          </h3>
          <ul class="footer__list">
            <li class="footer__list-item">
              <i class="fa-sharp fa-solid fa-location-dot"></i>
              268 Lý Thường Kiệt, P.14, Q.10, Tp.HCM
            </li>
            <li class="footer__list-item">
              <i class="fa-solid fa-phone"></i>
              (84.8) 38647256 ext. 5419, 5420
            </li>
            <li class="footer__list-item">
              <i class="fa-solid fa-envelope"></i>
              thuvien@hcmut.edu.vn
            </li>
          </ul>
        </div>
        <div class="grid__column-6">
          <h3 class="footer__heading">Thông tin liên lạc</h3>
          <ul class="footer__list">
            <li class="footer__list-item">
              <i class="fa-solid fa-people-group"></i>
              Nhóm xxxxx
            </li>
            <li class="footer__list-item">
              <i class="fa-solid fa-user"></i>
              Lâm Nguyễn Quang Tuệ
            </li>
            <li class="footer__list-item">
              <i class="fa-solid fa-id-card"></i>
              MSSV 2112592
            </li>
            <li class="footer__list-item">
              <i class="fa-solid fa-envelope"></i>
              tue.lamkhmtk21@hcmut.edu.vn
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer> --}}